<h1>Here is a list of all our pets:</h1>

<% for pet in @pets do %>

<p>Name: <%= pet.name %></p>
<p>Date admitted: <%= pet.admission_date %></p>
<p>Pet reference: <%= pet.id %></p>
<p>Is this pet child friendly? <%= pet.bairn_friendly %></p>
<p>Adoptable? <%= pet.adoptable %></p>

<p><a href="/pets/<%= pet.id %>/edit">Edit pet</a></p>


<% end %>
