<h1>Here is a list of all our adoptable pets:</h1>
<% for pet in @pets do %>
<% unless pet.adopted? == true %>
<a name="pet-<%= pet.id%>"></a>
<p>Name: <%= pet.name %></p>
<p>Animal type: <%= pet.breed %></p>
<p><%= pet.name %> has been with us since: <%= pet.admission_date %></p>

<img src="<%= pet.picture %>">
<% if pet.adoptable %>
<p><%= pet.name %> is currently up for adoption!
<form action="/adoptions/new">
  <input type="submit" value="Adopt me!">
</form>
<% end %>

<p>Pet reference: <%= pet.id %></p>
<p><a href="/pets/<%= pet.id %>/edit">Edit <%= pet.name %></a></p>
<hr/>
<% end %>
<% end %>
