<h1>Here is a list of all our dogs:</h1>

<% for pet in @pets do %>
  <% dogs_array = [] %>
  <% dogs_array.push(pet) if pet.breed == "dog" && pet.adopted? != true %>

  <% for dog in dogs_array do %>

    <p><%= dog.name %></p>
    <p><%= dog.admission_date %></p>
    <img src="<%= dog.picture %>">
    <p>Pet reference:<%= dog.id %></p>
    <p>Great with kids!</p>


    <% if dog.adoptable == true %>
      <p><%= dog.name %> is currently up for adoption!
        <form action="/adoptions/new">
          <input type="submit" value="Adopt me!">
        </form>
    <% end %>
    <p><a href="/pets/<%= dog.id %>/edit">Edit <%= dog.name %>?</a></p>
    <hr/>
  <% end %>
<% end %>
