<h1>Here is a list of all our rodents:</h1>

<% for pet in @pets do %>
  <% rodents_array = [] %>
  <% rodents_array.push(pet) if pet.breed == "rodent" && pet.adopted? != true %>

  <% for rodent in rodents_array do %>

    <p><%= rodent.name %></p>
    <p><%= rodent.admission_date %></p>
    <img src="<%= rodent.picture %>">
    <p>Pet reference:<%= rodent.id %></p>
    <p>Great with kids!</p>


    <% if rodent.adoptable == true %>
      <p><%= rodent.name %> is currently up for adoption!
        <form action="/adoptions/new">
          <input type="submit" value="Adopt me!">
        </form>
    <% end %>
    <p><a href="/pets/<%= rodent.id %>/edit">Edit <%= rodent.name %>?</a></p>
    <hr/>
  <% end %>
<% end %>
